
SAutomation/Debug/cl.command.1.tlog
SAutomation/Debug/Automation.obj
SAutomation/Debug/CL.write.1.tlog
SAutomation/Debug/Common.obj
*.tlog
*.obj
*.log
*.ilk
*.pch
*.pdb
*.idb
*.ipch
*.cache
*.sdf
*.suo
*.res
SAutomation/Debug/SAutomation_manifest.rc
*.opensdf
*.bmp
