
SAutomation/Debug/cl.command.1.tlog
SAutomation/Debug/Automation.obj
SAutomation/Debug/CL.write.1.tlog
SAutomation/Debug/Common.obj
*.tlog
*.obj
*.log
*.ilk
*.pch
*.pdb
*.idb
*.ipch
*.cache
*.sdf
*.suo
*.res
SAutomation/Debug/SAutomation_manifest.rc
*.opensdf
*.bmp
*.lastbuildstate
SAutomation/Log/log0.txt
SAutomation/Log/log1.txt
SAutomation/Log/log1.txt
SAutomation/Log/log2.txt
SAutomation/Log/log3.txt
SAutomation/Log/log7.txt
SAutomation/Log/log9.txt
SAutomation/Macro/bk/Last2.txt
*.txt
SAutomation/Macro/InputTest.txt
SAutomation/Log/log9.txt
SAutomation/Macro/test1.txt
*.lastbuildstate
SAutomation/Release/SAutomation.ini
SAutomation/Release/Macro/Start.txt
SAutomation/Release/Macro/Scroll.txt
SAutomation/Macro/Wheel.txt
SAutomation/Log/log1.txt
SAutomation/Log/log2.txt
SAutomation/Log/log9.txt
SAutomation/Macro/InputTest.txt
SAutomation/Macro/test1.txt
SAutomation/Macro/Wheel.txt
SAutomation/SAutomation.aps
SAutomation/SAutomation.aps
SAutomation/SAutomation.vcxproj
SAutomation/SAutomation.vcxproj.filters
